<template>
  <div class="text-form">
    <form @submit="onSubmit" class="form-box">
      <div class="input-set">
        <label for="text">Enter the text you want to predict.</label>
        <div class="input-wrapper">
          <textarea id="text" v-model="text"></textarea>
        </div>
      </div>
      <button :disabled="text === ''" type="submit">predict</button>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'TextForm',
    data() {
      return {
        text: '',
      };
    },
    methods: {
      onSubmit(event) {
        event.preventDefault();
        this.$emit('submit', this.text);
      },
    },
  };
</script>

<style scoped>
  textarea {
    width: 100%;
    height: 100px;
    background: var(--bg-light);
    color: var(--fg-light);
    border: 2px solid var(--accent-dark);
  }

  .text-form {
    display: flex;
    justify-content: center;
  }

  .form-box {
    background: var(--bg-light);
    flex: 1 1;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }

  .input-set {
    margin: 10px;
  }
</style>
